.logement-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 582px;
  margin-bottom: 30px;
}

.logement-dropdown-topbar {
  display: flex;
  padding: 10px 20px 10px 10px;
  background-color: #ff6060;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.logement-dropdown-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 142.6%;
}

.logement-dropdown-frame {
  max-height: 0;
  width: 570px;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  background: #f6f6f6;
  font-size: 18px;
  font-weight: 400;
  line-height: 142.6%;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
}

.logement-dropdown.open .logement-dropdown-frame {
  max-height: 500px; /* Augmente la hauteur maximale si nécessaire */
  padding: 20px;
}

.logement-dropdown-icon {
  transition: transform 0.5s ease;
}

.logement-dropdown.open .logement-dropdown-icon {
  transform: rotate(-180deg);
}
