/* Conteneur principal pour la section "About" */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1240px;
  width: 100%;
  margin-bottom: 38px;
}

/* Image dans la section "About" */
.about-container img {
  position: relative;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(75%);
}

/* Responsiveness : pour les écrans de moins de 768px */
@media screen and (max-width: 767.9px) {
  .about-container {
    margin-bottom: 19px;
  }

  .about-container img {
    max-width: 760px;
  }
}
