.footer-container {
  display: flex;
  background-color: black;
  align-items: center;
  flex-direction: column;
  padding-top: 66px;
  padding-bottom: 29px;
  width: 100%;
}

.footer-img {
  width: 122px;
  height: 39.444px;
}
.footer-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
