.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .header-logo {
    width: 140px;
    height: 68px;
  }

  .header-nav {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      padding-bottom: 5px;

      &.active {
        border-bottom: 2px solid black; // Ajout d'une bordure pour simuler le soulignement
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
