.navbar {
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  gap: 30px;
}

.nav-accueil,
.nav-about {
  color: black;
  border: none;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  line-height: 142.6%;
  transition:
    transform 350ms,
    color 300ms;
  &:hover {
    transform: scale(1.15);
    color: #ff6060;
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
  line-height: 142.6%;
}
